<!doctype html>
<html>
<head>
	<script src="../js/angular.min.js"></script>
</head>
	
<body>
	<footer class="main">
		<div class="container clearfix">
			<div id="uncopyright">
				<p style="font-weight:bold">
					<a href="">Home</a>
					<a href="">Terms And Conditions</a>
					<a href="">Privacy Policy</a>
					<a href="">Collection Statement</a>
					<a href="">Help</a>
					<a href="">Manage Account</a>
				</p>
				<br>
				<p>Uncopyright &copy; 2016 <strong>Demo Streaming</strong>. All Rights Reserved.</p>
				<br>
				<br>
				<div>
					<img src="../assets/social/facebook.svg" alt="facebook">
					<img src="../assets/social/twitter.svg" alt="twitter">
					<img src="../assets/social/instagram.svg" alt="instagram">
				</div>
			</div>
			<div id="credits">
					<img src="../assets/store/app-store.svg" alt="app store">
					<img src="../assets/store/play-store.svg" alt="play store">
					<img src="../assets/store/windows-store.svg" alt="window store">
			</div>
		</div>
	</footer>
</body>
</html>
