<!doctype html>
<html>
	<head>
		<title>MAKE YOUR CHOICES</title>
		<script src="../js/angular.min.js"></script>
	</head>

	<body>
		<header ng-include="'header.html'"></header>
        <div class="container">
			<img style="background-color:#787878;" src="../assets/placeholder.png">
			<p style="font-weight:bold"><a href="#!/series">Series</a></p>
			<br>
			<img style="background-color:#787878;" src="../assets/placeholder.png">
			<p style="font-weight:bold"><a href="#!/movies">Movies</a></p>
		</div>
		<footer ng-include="'footer.html'"></footer>
    </body>
</html>
